@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 1rem;
  background-color: #4f46e5;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mapWrapper {
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.mapContainer {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.controls {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1000;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.mapWrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.mapContainer {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.mapBottomBarFull {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #0A0F1A;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  z-index: 500;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.zoneButtons {
  display: flex;
  justify-content: space-around;
}

.zoneButtons button {
  flex: 1;
  margin: 0 5px;
  padding: 10px;
  font-size: 1rem;
  background-color: #00C7B7;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.zoneButtons button.active {
  background-color: #FF5733;
  font-weight: bold;
}

.zoneInfoBar {
  text-align: center;
  padding: 5px 10px;
  font-size: 0.9rem;
  background-color: #243f58;
  border-radius: 10px;
  border-top: 1px solid #223450;
}

.zoneInfoBar h3 {
  margin: 0;
  font-size: 1.1rem;
}

.zoneInfoBar p {
  margin: 2px 0;
}

.remainingTime {
  font-weight: 500;
  color: #e85d04;
}

.leaflet-control-zoom {
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-color: #ffffffee;
  backdrop-filter: blur(6px);
  z-index: 1000;
}

.leaflet-control-zoom a {
  font-size: 1.5rem;
  color: #4f46e5;
  padding: 0.75rem 1rem;
  text-decoration: none;
  display: block;
}

.leaflet-control-zoom a:hover {
  background-color: #171f39;
}

.buttonWithCounter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  text-align: center;
}

.counterInfo {
  margin-top: 5px;
  font-size: 0.8rem;
  color: #444;
}

.description {
  font-style: italic;
  margin-bottom: 2px;
}

.sectionOverlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: white;
  z-index: 600;
}